.left_message {
    height: 45px;
    width: 266px;
    margin-left: 10px;
    text-align: left;
    background-color: #02b3ff;
    border-radius: 3px;
}
.left_offset {
    line-height: 4px;
    padding-top: 10px;
    margin-left: 10px;
    font-weight: normal;
}
.left_date {
    font-size: 12px;
    text-align: right;
    line-height: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: normal;
}
.right_message {
    height: 45px;
    margin-left: 1100px;
    margin-right: 10px;
    text-align: right;
    background-color: #ffab02;
    border-radius: 3px;
}
.right_offset {
    line-height: 4px;
    padding-top: 10px;
    margin-right: 10px;
    font-weight: normal;
}
.right_date {
    font-size: 12px;
    text-align: left;
    line-height: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: normal;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: normal;
}
.sendMsgBox {
    position: absolute;
    bottom: 20px;
}